* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  // justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.card {
  position: relative;
  height: 293px;
  width: 262px;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: rgb(37, 36, 36);
  background: linear-gradient(313deg, rgba(37, 36, 36, 1) 0%, rgba(32, 32, 32, 1) 58%);

  .bookmark {
    position: absolute;
    top: 2px;
    right: 4px;
  }

  .contest-date {
    color: aqua;
  }

  .contest {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-weight: lighter;
    color: beige;

    &-site {
      font-size: 2rem;
    }
    &-name {
      font-size: 1rem;
    }
    &-time {
      padding-top: 13px;
      font-size: 14px;
    }
  }
}

@media (max-width: 598px) {
  .container {
    justify-content: center;
  }
  .card {
    width: 350px;
    height: 280px;
  }
}

@media (max-width: 1210px) and (min-width: 960px) {
  .grid-card {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 240px;
  }
}

@media (max-width: 910px) and (min-width: 598px) {
  .grid-card {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 240px;
  }
}
